<%
bill_address = @order.bill_address
ship_address = @order.ship_address
anonymous = @order.email =~ /@example.net$/

if (anonymous and Spree::HtmlInvoice::Config[:suppress_anonymous_address]) or bill_address.blank?
  addresses = [[" "," "]] * 5 
else
  addresses = [[  "#{bill_address.firstname} #{bill_address.lastname}",  "#{ship_address.firstname} #{ship_address.lastname}"]]
  addresses << [ bill_address.company, ship_address.company ] if Spree::Config[:company] and (ship_address.company.present? or bill_address.company.present?)
  addresses << [ bill_address.address1 , ship_address.address1 ]
  addresses << [ bill_address.address2 ,  ship_address.address2 ] if bill_address.address2.present? or ship_address.address2.present?
  addresses << [
    "#{bill_address.city}, #{bill_address.state.try(:name) || bill_address.state_text} #{bill_address.zipcode}",
    "#{ship_address.city}, #{ship_address.state.try(:name) || ship_address.state_text} #{ship_address.zipcode}"
  ]
  addresses << [ "#{ship_address.country.name}", "#{bill_address.country.name}" ]
  addresses << [ bill_address.phone , ship_address.phone ]
end
%>
<table class="address">
  <tr>
    <td width="45%" class="billing_header bold"><%= t(:billing_address)%></td>
    <td width="17%"></td>
    <td width="45%" class="shiping_header bold"><%= t(:shipping_address)%></td>
  </tr>
  <% addresses.each do |row| %>
  <tr>   
    <td height="15px" width="45%" class="cell billing"><%=row[0]%> </td>
    <td width="17%"></td>
    <td height="15px" width="45%" class="cell shipping_header"><%=row[1]%> </td>
  </tr>
  <% end %>
</table>

